

.idea
.vs/*
Bundles/*
Export/*
HybridCLRData/*
Library/*
Logs/*
obj/*
Temp/*
UserSettings/*


Assets/GeneratedLocalRepo
Assets/HybridCLRGenerate
Assets/HybridCLRGenerate.meta
Assets/Res/Dll/*

Assets/Plugins/Android/FirebaseApp.androidlib
Assets/Plugins/Android/FirebaseApp.androidlib.meta
Assets/Plugins/Android/FirebaseCrashlytics.androidlib
Assets/Plugins/Android/FirebaseCrashlytics.androidlib.meta


*.vsconfig
*.csproj
*.user
*.csproj
*.sln
*.suo
*.lock
*.ide
*.ide-shm
*.ide-wal
*.vsconfig
.DS_Store

